@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --ark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --spartan: "Spartan", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding: 1em 2.22em;
  font-size: 2em;
}

h4 {
  color: hsl(333, 80%, 67%);
  font-weight: 480;
  line-height: 1.55em;
  padding: 0.55em 1.22em;
}

span {
  color: hsl(333, 80%, 67%);
  font-weight: 100;
  font-size: 15px;
}

.accolades {
  text-align: center;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.intro {
  text-align: center;
}

.accolade {
  background-color: hsl(300, 24%, 96%);
  margin: 0.11em 1.88em 0.33em 1.88em;
  padding: 1.1em;
  border-radius: 15px;
}

.client {
  background-color: hsl(300, 43%, 22%);
  margin: 1rem 1.22em;
  padding: 3rem 1.75rem;
  border-radius: 0.5rem;
}

.client-desc {
  display: flex;
  gap: 10px;
  padding: 1.33em;
}

.client-name {
  margin-top: 10px;
}

.client-img {
  width: 2.19em;
  max-width: 100%;
  border-radius: 100%;
}

.Name {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.remarks {
  color: hsl(300, 24%, 96%);
  line-height: 1.22em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------- desktop view ----------- */

@media (min-width: 1120px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    /* Hide that sneaky overflow */
    overflow-x: hidden;
  }

  .container {
    padding: 0.25rem;
    width: 80vw;
    min-height: 75vh;
    margin: 5rem 0;
  }

  h1 {
    padding: 0;
  }

  h4 {
    padding: 0;
    line-height: 1.55em;
  }

  /* For the top part to split. */
  .top-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.55em;
    gap: 3em;
  }

  .intro {
    flex-grow: 1;
    flex-basis: 0;
    text-align: start;
    padding-left: 13%;
    max-width: 100%;
  }

  .intro h4 {
    width: 95%;
  }

  h1 {
    width: 85%;
    font-size: 3rem;
  }

  /* Magic bullet to make that flex box work !! */
  .accolades {
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    margin-top: 10px;
  }

  .accolade {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: flex-start;
    padding: 1.1rem 0;
  }

  .accolade .img-container {
    margin: 0 2rem;
  }

  .accolade-1 {
    margin-left: 3em;
  }

  .accolade-2 {
    margin-left: 6em;
  }

  .accolade-3 {
    margin-left: 12em;
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10%;
  }

  .client-2 {
    margin-top: 3em;
  }

  .client-3 {
    margin-top: 4em;
  }

  .remarks {
    max-width: 100%;
    width: 300px;
    font-size: 0.92em;
    line-height: 1.55em;
  }
}
